<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container p-5">
        <h1>Editar Usuario</h1>
        

                <form action="/users/update/<%= user._id %>" method="POST">
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="taext" class="form-control" id="name" name="name" value="<%= user.name %>"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contrase単a:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Dejar en blanco para mantener la misma contrase単a">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirmar Contrase単a:</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Ingresa la nueva contrase単a">
                    </div>
                    
                    <% if (messages.error && messages.error.length) { %>
                        <div class="alert alert-danger">
                            <ul>
                                <% messages.error.forEach(function(error) { %>
                                    <li>
                                        <%= error %>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                        <% } %>
                    <button type="submit" class="btn btn-primary">Actualizar Usuario</button>
                </form>
                <hr>
                <a href="/users" class="btn btn-secondary">Regresar a la lista de usuarios</a>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>